<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	<th:block th:replace="~{template :: headfiles}"></th:block>
	</head >
	<body>
		<th:block th:replace="~{template :: menu}"></th:block>
		<br>
		<div class="container">
			<div sec:authorize="isAuthenticated()">
		        <h1>1isAuthenticated()</h1>
			</div>
			<div sec:authorize="isAnonymous()">
		        <h1>2isAnonymous()</h1>
			</div>
	        
	        <h1 sec:authorize="hasRole('ROLE_ADMIN')" th:text="'3ROLE_ADMIN THYMELEAF'">3ROLE_ADMIN</h1>
	        <h1 sec:authorize="hasRole('ROLE_USER')">3.5ROLE_USER</h1>
	        <h1 sec:authorize="hasAuthority('READ_CONTACT_PRIVILEGE')">4READ_CONTACT_PRIVILEGE</h1>
	        <h1 sec:authorize="hasRole('ROLE_ADMIN') AND hasAuthority('READ_CONTACT_PRIVILEGE')">5ROLE_ADMIN AND READ_CONTACT_PRIVILEGE</h1>
	        <h1 sec:authorize="hasRole('ROLE_ADMIN') OR hasAuthority('READ_CONTACT_PRIVILEGE')">6ROLE_ADMIN OR READ_CONTACT_PRIVILEGE</h1>
	        <h1 sec:authorize="hasRole('ROLE_USER') AND hasAuthority('READ_CONTACT_PRIVILEGE')">7ROLE_USER AND READ_CONTACT_PRIVILEGE</h1>
	        <h1 sec:authorize="hasRole('ROLE_ADMIN') AND hasAuthority('WRITE_CONTACT_PRIVILEGE')">8ROLE_ADMIN AND WRITE_CONTACT_PRIVILEGE</h1>
	        <h1 sec:authorize="hasRole('ROLE_USER') OR hasAuthority('READ_CONTACT_PRIVILEGE')">9ROLE_USER OR READ_CONTACT_PRIVILEGE</h1>
	        <h1 sec:authorize="hasRole('ROLE_ADMIN') OR hasAuthority('WRITE_CONTACT_PRIVILEGE')">10ROLE_ADMIN OR WRITE_CONTACT_PRIVILEGE</h1>
	        <h1></h1>
	        <h1></h1>
	    </div>
	    
	    <th:block th:replace="~{template :: footer}"></th:block >
		<th:block th:replace="~{template :: scripts}"></th:block>
	</body>
</HTML >